@import url(http://fonts.googleapis.com/css?family=Roboto:400,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Raleway);
 

body {
	background: #eee;
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding:0;
	width: 100%;
	font-size:15px;
}

p {
	line-height: 2em;
}



.call_to_action {
	margin-bottom: 40px;
}

.call_to_action h3 {
	
	font-size:2.3em;
	text-align: center;
	font-weight: normal;
	padding: 10px 0;
	margin: 0;
}

.call_to_action p {
	font-size: 1.4em;
	line-height: 2em;
}

.big-call {
	text-align: center;
	font-size:3em;

	padding:30px 0;
	font-weight: normal;
}

.image-heavy img {
	width: 350px;
	margin:10px;
	display: inline-block;
}

.image-heavy  p {
	line-height: 2em;
}

.image-heavy  li{
	line-height: 2em;
}
h1, h2, h3, h4 {
	font-family: "Raleway", sans-serif;
	color: #333;
	font-weight: no
	text-shadow:rgba(0,10, 60,.8) 0px 1px 0px;
}

.wrapper {
	background: #fff;
	margin: 0 auto;
	width: 960px;
	min-height: 100px;
}

#heromast {
	background:url('../img/bg.jpg') bottom center #87CEEB;
	background: #5AAEF2;

}

#heromast h1, 
#heromast h2 {
	color: #fff;
} 

#heromast h1 a, 
#heromast h2 a {
	color: #fff;
	text-decoration: none;
	padding:5px 20px;
} 

#heromast h1 a:hover, 
#heromast h2 a:hover {
} 

#heromast h1 {
	font-family: "Raleway", sans-serif;

	font-size:70px;
	text-transform: lowercase;

	font-weight: 300;
	padding: 10px 0;
	margin: 0;

	color:#fff;
}


#heromast h2 {
	margin: 0px 0 0 0;
	padding: 0;
	font-size: 20px;
	height:20px;
	font-weight: normal;
	text-transform: uppercase;
}

header {
	color:#fff;
 }

header nav {
	padding: 12px 0;
	margin: 20px 0 0 0;
	border-top: rgba(0, 0, 200, .2) solid 1px;
}

header nav ul {
	margin:0;
	padding:0;
}

header nav ul li {
	list-style: none;
	display: inline-block;

	margin: 0;
	padding: 0;

}

header nav ul li a,
.call_to_action a {
	text-decoration: none;
	display: block;
	padding:10px 30px;
	margin:5px 10px;
	height:14px;
	line-height: 14px;
	
	text-transform: uppercase;
	border-radius: 60px;
	background: rgba(20, 50, 120, .3);
	color:#fff;

	-webkit-transition: all .1s ease-in;
	   -moz-transition: all .1s ease-in;
	    -ms-transition: all .1s ease-in;
	     -o-transition: all .1s ease-in;
	        transition: all .1s ease-in;
}
header nav ul li a:hover,
.call_to_action a {
	background: rgba(20, 50, 120, .5);
}

.body-content {
	background: #fff;
	min-height: 100px;
	padding: 20px 0 0 0;
	margin: 0;
	box-shadow: rgba(0,0,0,.3) 0px 0px 13px inset;
}

footer {
	background: #eee;
	width:100%;
	padding:10px 0;
	margin: 0;
	min-height: 100px;
	text-align: center;
}

@media print {
      nav { display: none; }
      footer {display:  none;}
}

/* Quick Guide */
.quick-guide h1 {
	text-align: center;
	font-family: 'Roboto';
	font-size:60px;
	padding: 15px 0;
	margin: 0;
	border-bottom: 1px solid #ddd;
}

.quick-guide h2 {
	text-align: center;s
	margin: 0;
	font-size:30px;
	padding: 0 0 20px 0;
	line-height: 20px;
	border-bottom: 1px solid #ddd;
}
.quick-guide p {
	font-size:1.5em;
}

.quick-guide h3 {
	text-align: center;
	color:#888;
	margin: 0;
	font-size:25px;
	padding: 15px 0;
	text-shadow:none;
}

.download {
	text-align: center;
}
.download > a {
	text-align: center;
	display: block;
	padding:15px 0;
	margin: 10px 30px;
	font-size:19px;
	color:#fff;
	background: #333;
	border: 1px solid #fff;
}
.download > a:hover {
	background:#ddd;
	color: #333;
	border: 1px solid #333;
}


.quick-guide ol li {
	font-size: 16px;
	margin:20px 0;
	padding:0;
	text-align: left;
}


.call_to_action a {
	background: rgba(20, 50, 120, .7);
	width: 70%;
	margin: 0 auto;
	border: 0;
	font-size: 1rem;
}

.call_to_action p {
	width: 80%;
	margin:20px auto;
	height: 110px;
}

.call_to_action a:hover {
	border: 0;
	color: #fff;
	background: rgba(80, 110, 160, .9);
}

.code-section {
	font-size:1.2em;
	border-bottom: 1px solid #333;
}

.code-section code:first-child {
	color:#fff;
	background: #666;
	padding: 3px 7px;
	font-size: .9em;
	border-radius: 6px;
	margin:0 5px;
}

.code-section pre {
	background: #ddd;
	padding: 16px 20px;
}

.code-section:last-child {
	border: 0;
}

.event-details {
	font-size: 1.6em;
}

.event-details ul {
	background: rgba(10, 30, 200, .2);
	border-radius: 5px;
	padding: 20px;
	margin: 36px 0 0 0;
}
.event-details ul li {
	list-style: none;
}